*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* background-color: white; */
}

:root{
    scroll-behavior: smooth;
    --bg-color: white;
    --primary-color: #00ADB5;
}

form{
	height: 86vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--bg-color);
	font-size: 1.3rem;
}

.form-bg{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50vh;
	max-width: 40vw;
	width: 100%;
	background-color: var(--primary-color);
	border-radius: 2rem;
}

input[type="text"]{
	padding: 0.4rem;
	border: 1px white solid;
	border-radius: 0.4rem;
}

input[type="submit"]{
	padding: 0.4rem;
	border: 1px white solid;
	border-radius: 0.4rem;
	color: var(--bg-color);
	font-size: 1.3rem;
}


input[type="submit"]:hover{
	animation: fill 0.1s linear forwards;
}


@keyframes fill{
	0%{
		background-color: var(--primary-color);
		color: var(--bg-color);
		border: 1px white solid;
	}
	100%{
		background-color: var(--bg-color);
		color: var(--primary-color);
	}
}


input[type=file]::file-selector-button{
	padding: 0.3rem;
	background-color: var(--bg-color);
	border: 1px white solid;
}

label, input, .form-data{
	margin: 0.5rem;
	background-color: var(--primary-color);

	/* border: 1px red solid */
}

@media screen and (max-width:1100px) {

	.form-bg{
		max-width: 70vw;
	}
}

@media screen and (max-width:600px) {
	form{
		font-size: 1rem;
	}
	.form-bg{
		max-width: 90vw;
		height: 60vh;
	}
}
